body {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  /*.view {
    position: relative;
    background-color: #3b3b3b;
    text-align: center;
    font-family: sans-serif;
    display: none;
    max-width: 720px;
    max-height: 360px;
  }

  .section-left .section-right {
    position: relative;
    width: 50%;
    height: 100%;
    margin: auto;
  }
  .section-left {
    left: 0%;
  }

  .section-right {
    right: 0%
  }

  .horizontal {
    position: inline-block;
  }

  .button-element {
    left: 0px;
    top: 0px;
    width: 100%;
    padding-bottom: 50%;
    height: 0%;
  }  

  .element {
      display: inline-block;
      height: 50%;
      width: 50%;
      right: 0px;
  }

  #player-a-accel {
    top: 0%;
    background-position: 50% 0%;
  }

  #player-a-accel {
    bottom: 0%;
    background-position: 50% 0%;
  }*/

  .view {
    border: 3px solid #11AD55; 
    display: none;
    width: 100%;
    height: 100%;
  }	
  
  .section {
    margin-left: 50%;
    width: 45%;
    height: 100%;
    border: 3px solid #12ff21;         
  }

  .section-left {
    position: absolute;
    width: 45%;
    height: 100%;
    border: 3px solid #12ff21;         
  }
  
  
  .floating-box {
    margin: auto;
    margin-left: 50%;
    width: 45%;
    height: 100%;
    border: 3px solid #73AD21;
  }

  .floating-box-left {
    text-align: center;
    position: absolute;
    width: 45%;
    height: 100%;
    border: 3px solid #73AD21;
  }

  .floating-box-lone {
    position: absolute;
    width: 95%;
    height: 95%;
    border: 3px solid #73AD21;
  }
  
  .non-floating-box {
    display: block;
    width: 95%;
    height: 45%;
    border: 3px solid #A11367;  
  }

  p {
    text-align: center;
    margin-top: 50%;
  }